body
    padding top 61
.navbar-header a.navbar-brand
    margin-top  -15px
    margin-bottom -20px
    h6
        color  red    


footer
    padding-left  15px
    padding-right 15px
    p
        border-top 1px solid red

.navbar-form
    .form-group
        margin-left 10px
    button
        margin-right 10px