if !!bootstrappedUser
    script.
        window.bootstrappedUserObject=!{JSON.stringify(bootstrappedUser)} 
        //- bootstrappedUserObject is a global variable because it is put on the window (window.bootstrappedUserObject). Available throughout the project